.display {
    grid-column: span 4 ;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    padding-top: 50px;
    font-size: 3.5em;
    overflow: hidden;
}